{% extends 'Merge.html' %}
{% block content %}
{% load static %}

<style>

.title-block
        {
            position:relative;
            display:flex;
            flex-wrap: wrap;
            width:100%;
            height:100vh;
            overflow:hidden;
        }
        
        
.title-block .head
        {
            position:absolute;
            font-size:70px;
            top:6cm;
            left:4cm;
            width:70%;
            color:white;
            font-weight: bold;
            text-transform:uppercase;
            font-family: 'Poppins', sans-serif;
        }
        
.title-block h3
        {
            position:absolute;
            width:70%;
            font-size:30px;
            color:white;
            font-family: 'Poppins', sans-serif;

        }

.title-block #forest
        {
            position:absolute;
            bottom:-20cm;
            z-index:-100;
        }

.title-block #rocks
        {
            position:absolute;
            bottom:-15cm;
            right:0;
            z-index:-50;
        }

.title-block #man
        {
            position:absolute;
            bottom:0;
            right:3cm;
        }

.image-block
        {
            overflow: hidden;
            position: relative;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }


.image-container
        {
            position: relative;
            min-height:50%;
            width: 80%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            border-radius: 20px;
            background:rgba(255, 255, 255, 0.1);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }


.image
        {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            overflow: hidden;
            border-radius: 20px;
            margin: 20px;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            transition: 0.4s ease;
        }

.image:hover
        {
            width: 300px;
        }

.image::after
        {
            content: '';
            position: absolute;
            width: 200px;
            height: 500px;
            background-color: rgba(255, 255, 255, 0.2);
            transform: skew(35deg);
            left: 450%;
        }

.image:hover::after
        {
            left: -300%;
            transition: 1s;
        }


@media screen and (max-width:600px) 
 {

    .title-block .head
            {
                font-size:50px;
            }

    .image-block
            {
                height: 100%;
                padding: 20px;
            }

    .image-container
            {
                width: 400px;
                flex-wrap: wrap;
            }

    .image-container .image
            {
                position: relative;
                height: 200px;
                width: 100%;
            }
 }
 .icon-contain
        {
            position: relative;
            width: 300px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            top:15cm;
            left:3cm;
        }

button
        {
            font-size:30px;
            width:200px;
            height:50px;
            background: none;
            border: none;
            color:white;
            border-radius: 5px;
            margin: 0px 20px;
        }

button:hover
        {
            background-color: black;
        }

.hidden { display: none; }
.visible { display: block; }

.copy
        {
            position:absolute;
            top:50%;
            left:50%;
            width:200px;
            height:200px;
            overflow:hidden;
            transform:translate(150%,-50%);
        }
.contents-text
        {
            position:absolute;
            top:25px;
            margin-left:2400px;
            font-weight: bold;
            font-size:100px;
            font-family: 'Poppins', sans-serif;
            z-index:200;
            color:black
        }
.contents-text1
        {
            position:absolute;
            bottom:0;
            margin-right:3400px;
            color:black;
            font-family: 'Poppins', sans-serif;
            font-weight:bold;
            font-size:100px;
            z-index: 100;
        }



.galary
        {
            position: relative;
            background: rgba(255, 255, 255, 0.2);
            width: 100%;
            height: 100vh;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            flex-direction: row;
            overflow: hidden;
        }

.poly
        {
            box-shadow: 2px 1px 0px 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 700px;
            height: 600px;
            text-decoration: none;
            clip-path: polygon(25% 0%,100% 0%,75% 100%,0% 100%);
            transition: 0.4s ease;
        } 
.poly:nth-child(2)
        {
            background: rgba(255, 255, 255, 0.2);
            border-top:2px solid rgba(255, 255, 255, 0.5);
            border-right:12px solid rgba(255, 255, 255, 0.5);
            background-size: cover;
            margin-top: 150px;
        }
.poly:nth-child(3)
        {
            background: rgba(255, 255, 255, 0.2);
            border-top:2px solid rgba(255, 255, 255, 0.5);
            border-right:12px solid rgba(255, 255, 255, 0.5);
            background-size: cover;
            margin-bottom: 150px;

        }
.poly:nth-child(4)
        {
            background: rgba(255, 255, 255, 0.2);
            border-top:2px solid rgba(255, 255, 255, 0.5);
            border-right:12px solid rgba(255, 255, 255, 0.5);
            background-size: cover;
            margin-top: 150px;

        }

.poly:nth-child(5)
        {
            background: rgba(255, 255, 255, 0.2);
            border-top:2px solid rgba(255, 255, 255, 0.5);
            border-right:12px solid rgba(255, 255, 255, 0.5);
            background-size: cover;
            margin-bottom: 150px;

        }


.poly:hover
        {
            transform: scale(1.2);
        }

.poly a
        {
            color: white;
            font-weight: 600;
            font-size: 1.2em;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

@media (max-width:850px) 
{
    .galary
            {
                padding: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
            }


    .poly
            {
                width: 700px;
                height: 600px;
                background-color: rgb(249, 235, 37);
                clip-path: inset(5% 0 15% round 0 20% 0 20%);
                transition: 0.4s ease;
            }
    
    .poly:nth-child(1) , .poly:nth-child(3)
            {
                margin-top: 0px;
            }

    .poly:nth-child(2), .poly:nth-child(4)
            {
                margin-bottom: 0px;
            }

}

.back-video
        {
            object-fit: fill;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 0000;
        }


.footer
        {
            overflow:hidden;
            position:relative;
            display:flex;
            align-items:center;
            justify-content:start;
            width:100%;
            height:300px;
            background-color:transparent;
        }

.footer-count1
        {
            position:relative;
            width:100%;
            height:100%;
            background-color:rgba(255,255,255,0.0);
            border-top:2px solid;
            border-color:rgba(255,255,255,0.6);
        }
.footer-image
        {
            position:relative;
            display:flex;
            align-items:center;
            justify-content:center;
            width:250px;
            height:200px;
            margin:10px;
            background-color:white;
            border-radius:100%;
            overflow:hidden;
        }
</style>

<br>
<div class="title-block">
    <div>
        <div class="head animate__animated  animate__delay-0.5s animate__bounceInDown">Mobile Photography
            <h3 class="animate__animated  animate__delay-0.5s animate__bounceInDown" >If you can see it, <br>you can shoot it ...</h3></div>
          <div class="icon-contain">
        <button onmouseover=display(1) onmouseleave="hidedata()"><i class="fa fa-instagram" ></i></button>
        <button onmouseover="display(2)" onmouseleave="hidedata()"><i class="fa fa-facebook" ></i></button>
        <button onmouseover="display(3)" onmouseleave="hidedata()"><i class="fa fa-whatsapp" ></i></button>
    </div>
            <div id="copy" class="copy">
        <img src="" alt="" srcset="" id="image_field" style="background-color:black; border-radius:20px; opacity:0.8;  " width="180px" height="180px" class="hidden">
    </div>
<img src="https://user-images.githubusercontent.com/65358991/170092559-883fe071-eb4f-4610-8c8b-a037d061c617.png" id="forest">
        <img src="https://user-images.githubusercontent.com/65358991/170092605-eada6510-d556-45cc-b7fa-9e4d1d258d26.png" id="rocks">
         <img src="{% static 'images/photo.png' %}" alt="" srcset="" width="200" height="200" id="man">
    </div>
</div>
 <div class="image-block">
     <h1 class="contents-text" id="text">PHOTOGRAPHY</h1>
     <h1 class="contents-text1" id="text1">COLLECTIONS</h1>
        <div class="image-container">
            {% for image in images %}
        <div class="image">
        <img src="{{image.Image.url}}" width="400" height="500">
        </div>
            {% endfor %}
        </div>
    </div>


<div class="galary">
    <video src="{% static 'video/photo.mp4' %}" autoplay muted loop class="back-video"></video>
  <div class="poly"><a href="image/{{image_diff.macro_name}}"><h1>{{image_diff.macro_name}}</h1></a></div>
  <div class="poly"><a href="image/{{image_diff.sky_name}}"><h1>{{image_diff.sky_name}}</h1></a></div>
  <div class="poly"><a href="image/{{image_diff.light_name}}"><h1>{{image_diff.light_name}}</h1></a></div>
  <div class="poly"><a href="image/{{image_diff.thunder_name}}"><h1>{{image_diff.thunder_name}}</h1></a></div>        
</div>



<div class="footer">
    <div class="footer-image">
        <img src="{% static 'images/2.jpeg' %}" alt="" srcset="" width="200" height="200" style="border-radius:100px;">
    </div>
    <div class="footer-count1">
        <h1 style="position: absolute; left:100px; top:100px;">Mobile Photography Siva</h1>
    </div>
</div>
    </div>
<script>
    let data = document.getElementById('copy');
    let contain = document.getElementById('image_field');
    var pic = "{% static 'images/facebook.png' %}"
    var pic_2 = "{% static 'images/instagram.png' %}"
    var pic_3 = "{% static 'images/whatsup.png' %}"
    function display(image)
    {
        if(image == 1){
        let data_image = document.getElementById("image_field").src = pic_2;
        // data.classList.toggle("visible");
        contain.className = 'visible';
    }
    else if(image == 2){
        let data_image = document.getElementById("image_field").src = pic;
        // data.classList.toggle("visible");
        contain.className = 'visible';
    }
    else if(image == 3){
        let data_image = document.getElementById("image_field").src = pic_3;
        // data.classList.toggle("visible");
        contain.className = 'visible';
    }

}
  const text = document.getElementById('text');
  const text1 = document.getElementById('text1');
  const forest = document.getElementById('forest');
  const rocks= document.getElementById('rocks');
  const man = document.getElementById('man');

    window.addEventListener('scroll', function(){
        let value = window.scrollY;
        if(value >= 811)
        {
          text1.style.marginLeft=value*3.7+'px';
        }
        else if(value <=811){
        //text1.style.marginLeft=value*3.7+'px';
        text.style.marginRight = value*3.5+'px';
        man.style.marginBottom = value*0.1+'px';
        forest.style.marginBottom = value*0.2+'px';
        rocks.style.marginBottom = value*0.1+'px';
        }
    console.log(value);
    });

    function hidedata()
    {
        contain.className = 'hidden';
    }
</script>

{% endblock %}
